* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
  background-color:#68778d;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
}
main{
  background-color: white;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.imageCard{
  width: 100%;
  padding: 1rem;
}
.qrCode{
  width: 100%;
  border-radius: 0.75rem;
  object-fit: cover;
}
.textCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  text-align: center;
}
h1{
  font-size: 1.2rem;
  font-weight: 700;
  color: #1f3251;
}

.welcome p {
  font-weight: 400;
  max-width: 90%;
  text-align: center;
  line-height: 1.5;
  font-size: 0.75rem;
  color:  #68778d;
}
